
<div class="box">
    <app-nav></app-nav>
    <div class="container pt-5 mt-5 shadow p-3 mb-5 rounded">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 col-xl-4">
                <form #loginForm="ngForm" (ngSubmit)="onLogin()">
                    <div class="card custom">
                        <div class="card-body">
                            <div class="text-center m-auto">
                                <h4 class="text-uppercase text-center">Log In</h4>
                            </div>
                            <div [class]="isError? 'alert alert-danger':'d-none' ">{{ message }}</div>
                            <div [class]="isSuccess? 'alert alert-success':'d-none' ">{{ message }}</div>
                            <div class="mb-3 px-4 row">
                                <label class="form-label">Email ID</label>
                                <input class="form-control" required #em="ngModel" [class.is-invalid]="em.errors && em.touched" type="text" name="email" placeholder="Enter your Email" [(ngModel)]="email"/>
                                <div *ngIf="em.errors && em.touched">
                                    <div class="text-danger" *ngIf="em.errors.required">EmailID is required</div>
                                </div>
                            </div>
                            <div class="mb-3 px-4 row">
                                <label class="form-label">Password</label>
                                <input class="form-control" required #pass="ngModel" [class.is-invalid]="pass.errors && pass.touched" type="text" name="password" placeholder="Enter your Password" [(ngModel)]="password"/>
                                <div *ngIf="pass.errors && pass.touched">
                                    <div class="text-danger" *ngIf="pass.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group text-center py-2">
                                <button class="btn btn-primary bg-primary text-white " [disabled]="loginForm.form.invalid">Login</button>
                            </div>            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
